@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.animatedgallery-text {
  text-align: center;
  font-family: Raleway;
  color: #34495e;
}
.animatedgallery-container {
  display: flex;
  justify-content: center;
}

div.itemr {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.itemr * {
  box-sizing: border-box;
}

div.itemr img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}

div.itemr i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 160px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

div.itemr a {
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 20px;
  color: #000000;
  width: 60px;
  height: 30px;
  line-height: 30px;
  background: #ffffff;
}

div.itemr.red {
  background-color: #e74c3c;
}
div.item.red i {
  color: #e74c3c;
}
div.itemr.blue {
  background-color: #34495e;
}
div.itemr.blue i {
  color: #34495e;
}
div.itemr.green {
  background-color: #16a085;
}
div.itemr.green i {
  color: #16a085;
}

div.itemr * {
  transition: all .35s ease-in-out;
}

div.itemr:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.itemr i {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.itemr:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.itemr a {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.itemr:hover a {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
