.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    background-color: $mainGreen;
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }
}

#btn1:active {
  background: purple;
  font-size: 1.25rem;
}

#btn2:hover {
  background: green;
  font-size: 2.25rem;
}

#btn3:focus {
  background: orange;
  font-size: 3.25rem;
}

.btn4 {
  background: orange;
  font-size: 3.25rem;
}


#btn5 {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background: #fcad26;
  font-size: 16px;
  font-weight: 300;
	color: white;
  text-transform: uppercase;
	letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0 auto;
	box-shadow: 0 6px #efa424;
  border-radius: 20px;
}

#btn5:hover {
	box-shadow: 0 10px #7c24ef;
	top: 2px;
}

#btn5:active {
	box-shadow: 0 10px #ef24de;
	top: 6px;
}