.headline {
  font-size: 1.9rem;
  font-weight: 300;
  color: $mainBlue;
  hover {
    background-color: pink;
    }

  @mixin atSmall {
    font-size: 2.875rem;
  }

  &__centered {
    text-align: center;
    color: $mainOrange;
  }
}